QGDS_EXT_LEAFLET_IMAGE_BASE_URL=https://www.qsbc.qld.gov.au/_resources/lga-map-images/
QGDS_EXT_LEAFLET_IMAGE_DATA_PATH=https://www.qsbc.qld.gov.au/_resources/lga-map-data/qsbc_lga_images.json
QGDS_EXT_LEAFLET_GEOJSON_PATH=https://www.qsbc.qld.gov.au/_resources/lga-map-data/qsbc_interactive_map.json
